<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>index</key>
		<integer>0</integer>
		<key>title</key>
		<string>星语心愿</string>
		<key>image</key>
		<string>1_1.jpg</string>
		<key>hasVideo</key>
		<false/>
		<key>hasSubItem</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>1</integer>
		<key>title</key>
		<string>银河</string>
		<key>subTitle</key>
		<string>美丽的银河系</string>
		<key>image</key>
		<string>2_1.jpg</string>
		<key>hasVideo</key>
		<false/>
		<key>hasSubItem</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>2</integer>
		<key>title</key>
		<string>动画图片</string>
		<key>subTitle</key>
		<string>经典图画展示</string>
		<key>image</key>
		<string>3_1.jpg</string>
		<key>hasVideo</key>
		<false/>
		<key>hasSubItem</key>
		<true/>
		<key>bigImage</key>
		<string>3_2.png</string>
	</dict>
	<dict>
		<key>index</key>
		<integer>3</integer>
		<key>title</key>
		<string>视频</string>
		<key>subTitle</key>
		<string>视屏测试</string>
		<key>image</key>
		<string>4_1.jpg</string>
		<key>hasVideo</key>
		<true/>
		<key>hasSubItem</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>4</integer>
		<key>title</key>
		<string>内容图展示</string>
		<key>subTitle</key>
		<string>搞笑动力策略</string>
		<key>image</key>
		<string>5_1.png</string>
		<key>hasVideo</key>
		<false/>
		<key>hasSubItem</key>
		<true/>
	</dict>
</array>
</plist>
