html,body{
    width: 100%;
    height: 100%;
}
.swiper-container,
.swiper-container .swiper-wrapper,
.swiper-container .swiper-wrapper .swiper-slide{
    width: 100%;
    height: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 100%;
}
.swiper-slide .switchs{
    position: absolute;
    top: 80%;
    padding: 2% 0;
    color: #fff;
    font-size: 16px;
}
.swiper-slide .switchs ul{
    width: 80%;
    height: 100%;
    margin-left: 10%;
}
.swiper-slide .switchs  p{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    padding: 0 2%;
}
.swiper-slide .switchs ul li{
    display: inline-block;
    width: 10%;
    height: 100%;
    margin-left: 2%;
}
.swiper-slide .switchs ul li img{
    width: 100%;
}
.switchs-select{
    border: 4px solid #1c69d4;
}
.gray{
    color: #8c8c8c;
}

/*导航*/
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    overflow: auto;
    background: #fff;
    z-index: 11;
    font-size: 18px;
}
.nav2{
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    overflow: auto;
    background: #fff;
    z-index: 11;
    font-size: 18px;
}
.nav ul,
.nav2 ul{
    list-style: none;
    width: 100%;
}
.nav ul li,
.nav2 ul li{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
}

/*弹层展示*/
.showeqv{
    padding: 5% 10% 0;
    height: 100%;
    overflow: auto;
}
.showeqv h3{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}
.showeqv ul li{
    float: left;
    width: 46%;
    height: auto;
    margin-bottom: 2%;
    position: relative;
}
.showeqv ul li .myicon{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20% !important;
    height: auto !important;
}
.showeqv ul li:nth-child(2n+1) {
    margin-right: 4%;
}
.showeqv ul li p{
    background-color: #f3f3f3;
    color: #000;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 600;
}

/*弹层*/
.layer{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -12;
    background-color: #000;
}
.layer .close,
.video-close{
    width: 6%;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 13;
}
.picthum{
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 11;
}
.picthumc{
    background: url("../image/cover.png") repeat;
    overflow: auto;
}
.picthumc p{
    color: #fff;
    font-size: 16px;
    margin: 10px 20px;
}
.picthumc ul{
    padding: 10px 20px;
    overflow: auto;
    background-color: #262626;
}
.picthumc ul li{
    width: 10%;
    float: left;
    margin-left: 2%;
}
.picthumc ul li:first-child{
    margin-left: 0;
}
.picthumc ul li img{
    width: 100%;
}
.thum-select{
    border: 4px solid #1c69d4;
}
.control-icon{
    width: 40px;
    margin-left: 50%;
}

/*视频播放*/
.show-video{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: black;
}
.show-video video{
    width: 100%;
    height: 100%;
}

.arrow{
    position: absolute;
    bottom: 2%;
    left: 50%;
    width: 4% !important;
    height: auto !important;
    z-index: 1;
}

.playVideo{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10%;
    margin-left: -5%;
    margin-top: -5%;
}

.close-video{
    width: 4%;
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 11;
}